
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Create new adventure!</h3>
              <form #f="ngForm" (ngSubmit)="create()">

                <div class="form-label-group">
                  <input
                 [(ngModel)] = "bindingModel.name"
                  name="name" type="text" id="inputName" class="form-control" placeholder="name" required
                    autofocus>
                  <label for="inputName">Name your next challenge</label>
                </div>

                <div class="form-label-group">
                  <input
                 [(ngModel)] = "bindingModel.imagePath"
                   required type="text" id="imagePath" name="imagePath" class="form-control">
                  <label for="imagePath">Image URL</label>
                  <!-- <img src="{{bindingModel.imagePath}}" class="img-responsive"> -->
                  <div class="card" style="width: 18rem;">
                    <img src="{{bindingModel.imagePath}}" class="card-img-top" alt="...">
                  </div>
                </div>

                <div class="form-label-group">
                  <textarea
                 [(ngModel)] = "bindingModel.description"
                  required type="text" id="description" class="form-control" name="description" rows="6"></textarea>
                  <label for="imagePath">Short description</label>
                </div>

                <button [disabled]="f.invalid"
                  class="btn btn-lg btn-dark btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
