<div *ngIf="trip">
  <div class="row">
    <div class="col-md-4 mt-4 mx-auto">
      <div class="card profile-card-5">
        <div class="card-img-block">
          <img class="card-img-top" src="{{trip.imagePath}}" alt="{{trip.name}}">
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title">{{trip.name}}</h5>
          <p class="card-text">{{trip.description}}</p>
          <a routerLink="/trip/edit/{{id}}"
            class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2">Edit</a>

          <button class="btn btn-lg btn-danger btn-block  text-uppercase font-weight-bold mb-2" type="button"
            (click)="deleteTrip()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
