<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" routerLink='/trip/create'>New Trips</button>
  </div>
</div>
<hr>
<div class="row">
  <div *ngFor="let trip of trips | async" class="col-xs-12">
      <a
      style="cursor: pointer;"
      class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{trip.name}}</h4>
        <p class="list-group-item-text">{{trip.description}}</p>
      </div>
      <span class="pull-right">
            <img
              src="{{trip.imagePath}}"
              alt="{{trip.name}}"
              class="img-responsive"
              style="max-height: 50px;">
       </span>
    </a>
  </div>
</div>

