
li{
  float: left;
  list-style: none;
  width:400px;
  margin: 0px;
}
li:nth-child(even){
  margin-right: 0px;
}

h5{
  color:#4E5E30;
  font-weight:600;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}
