<div class="row mx-3 my-3">
  <div clas="text-center">
    <a routerLink="/trip/create" class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2"
      type="submit">
      Create new adventure
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div *ngFor="let trip of trips | async" class=" col-xl-3 col-md-6 mb-4">
    <a style="cursor: pointer" routerLink="/trip/details/{{trip.id}}">
      <div class="card border-0 shadow">
        <img src="{{trip.imagePath}}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">{{trip.name}}</h5>
          <div class="card-text text-black-50">{{trip.description}}</div>
        </div>
      </div>
    </a>
  </div>
</div>
